<div>
	<p>NAB College has developed a history of welcoming international student, who wish to study in Canada. Where it’s a diploma program or taking, certificate based programs during the summer, NAB College is a fantastic location to Study.</p>
	<ul>Our Advantages!
		<li>Acquire a Diploma in list than a year, from a recognized Canadian College</li>
		<li>NAB will support in finding housing accommodations</li>
		<li>Take certificate based program during the summer</li>
		<li>Experience the World Class City of Toronto. NAB College supports students by going with them to multiple tourist attractions and nightlife.</li>
		<li>All inclusive (NAB College’s International Student Package includes Airport pick up/drop off, housing accommodations, meals and entertainment)</li>
	</ul>
	<p>To learn more about our Summer Certificate programs and Diploma studies for International studies contact us!</p>
	<app-contact-overlay [interestToPass]="'Travel and Study in Canada'"></app-contact-overlay>
</div>
