<div class="column">
	<p>NAB College has developed a history of <strong>welcoming international student</strong>, who wish to study in Canada. Whether it is to enrol in a diploma program or to take a certificate-based program during the summer, NAB College is a fantastic location to Study.</p>
	<ul>Our Advantages!
		<li>Acquire a <strong>Diploma in less than a year</strong>, from a recognized Canadian College</li>
		<li>NAB will <strong>support in finding housing</strong> accommodations</li>
		<li>Take <strong>certificate-based program</strong> during the summer</li>
		<li>Experience the <strong>World Class City of Toronto</strong>. NAB College supports students by going with them to multiple tourist attractions and nightlife.</li>
		<li><strong>All inclusive</strong> (NAB College’s International Student Package includes Airport pick up/drop off, housing accommodations, meals and entertainment)</li>
	</ul>
	<p>To learn more about our Summer Certificate programs and Diploma studies for International studies contact us!</p>
	<app-contact-overlay [interestToPass]="'Travel and Study in Canada'"></app-contact-overlay>
</div>
