<div class="footer-container row expanded">
		<div class="footer-logo-container hide-for-small medium-3 column">
			<img src="assets/images/logo.png">
		</div>
		<div class="contact-info-container small-4 medium-3 column">
			<h5>Contact Us</h5>
			<p>
				Phone No: <a href="callto:905-997-2422">905-997-2422</a><br/>
				Toll Free No: <a href="callto:1-855-249-2422">1-855-249-2422</a>
			</p>
		</div>
		<div class="location-info-container small-4 medium-3 column">
			<h5>Location</h5>
			<p>
				405 Britannia Rd. East, Unit 100<br/>
				Mississauga, Ontario, Canada<br/>
				L4Z 3E6
			</p>
		</div>
		<div class="connect-info-container small-4 medium-3 column">
				<h5>Connect</h5>
				<p>
					Twitter: Link<br/>
					Facebook: Link
				</p>
		</div>
		<div class="copyright-container small-12 column">
			<hr/>
			<p>© North American Business College of Sciences and Languages. All rights reserved.</p>
		</div>
</div>
