<div class="footer-container row column">
		<div class="footer-logo-container hide-for-small-only medium-3 column">
			<img src="assets/images/logo.png">
		</div>
		<div class="contact-info-container small-4 medium-3 column">
			<h5>Contact Us</h5>
			<p>
				Phone No:<br/>
				<a href="callto:905-997-2422">905-997-2422</a><br/>
				Toll Free No: <br/>
				<a href="callto:905-997-2422">905-997-2422</a>
			</p>
		</div>
		<div class="location-info-container small-4 medium-3 column">
			<h5>Location</h5>
			<p>
				405 Britannia Rd. East, <br/>
				Unit 100<br/>
				Mississauga, Ontario, Canada<br/>
				L4Z 3E6
			</p>
		</div>
		<div class="connect-info-container small-4 medium-3 column">
				<h5>Connect</h5>
				<p>
					Twitter:<br/>
					<a href="https://twitter.com/nabcollege" target="_blank">@NABcollege</a>
					Facebook: <br/>
					<a href="https://www.facebook.com/NABCOLLEGE/" target="_blank">NAB College</a>
				</p>
		</div>
		<div class="copyright-container small-12 column">
			<hr/>
			<p>© North American Business College of Sciences and Languages.<br/> All rights reserved.</p>
		</div>
</div>
