<div class="action-buttons-container row columns">
	<h4>Want to know more?</h4>
	<div class="button-group small-6">
		<button class="button success" (click)="toggleContactFormOverlay()">
			Let us contact you!
		</button>
		<a *ngIf="goBackButton" class="button warning hollow" onclick="window.history.back()">Go Back</a>

		<div class="overlay-window"
			[@animateContactFormOverlay]="contactFormOverlayDisplayed">
			<button class="close-button" aria-label="Close modal" type="button" (click)="toggleContactFormOverlay()">
					<span aria-hidden="true">&times;</span>
			</button>
			<app-contact-form [overlayWindow]="true" [passedInterest]="interest" class="row colum small-6" (closeOverlayWhenSubmit)="toggleContactFormOverlay($event)"></app-contact-form>
		</div>
	</div>
</div>
