.overlay-window {
  background-color: rgba(10, 10, 10, 0.7);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay-form-container {
    position: relative;
  }

  app-contact-form {
  	overflow: scroll;
		background: white;
		position: relative;
	}
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
    justify-content: space-around;  
  }
}