<div *ngIf="selectedTopic"
	class="row small-12 column" id="selected-topic-container"
	[@animateSelectedTopic]="selectedTopicState">
	<div class="selected-topic-name-container small-12">
		<h2>{{selectedTopic.name}}</h2>
	</div>

	<div class="row columns detail-container"> 
		<div class="detail-image-container hide-for-small medium-5 column">
			<img src={{selectedTopic.imgUrl}} />
		</div>
		
		<div class="detail-content-container small-12 medium-7 column">
			<div class="advantage-container" *ngFor="let advantage of selectedTopic.content.advantages">
				<img class="advantage-icon" src={{advantage.icon}}/>
				<div class="advantage-content">
					<h3>{{advantage.title}}</h3>
					<div *ngFor="let idea of advantage.ideas">
						<p>{{idea}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="action-buttons-container row columns">
		<h4>Want to know more about our program?</h4>
		<div class="small-6">
			<button class="button success" (click)="toggleContactFormOverlay()">
				Let us contact you!
			</button>

			<button class="hollow button warning"
				(click)="resetSelectedTopic()">
				Go back to top
			</button>
		</div>
	</div>
	
	<div class="overlay-window"
		[@animateContactFormOverlay]="contactFormOverlayDisplayed">
		<app-contact-form class="row colum small-6" (onOverlayCloseButtonClick)="toggleContactFormOverlay($event)"></app-contact-form>
	</div>

</div>