<div *ngIf="selectedTopic"
	class="row small-12 column" id="selected-topic-container"
	[@animateSelectedTopic]="selectedTopicState">
	<h2>{{selectedTopic.name}}</h2>
	
	<div class="detail-list-container small-10">
		<div class="advantage-container" *ngFor="let advantage of selectedTopic.content.advantages">
			<img class="advantage-icon" src={{advantage.icon}}/>
			<div class="advantage-content">
				<h3>{{advantage.title}}</h3>
				<div *ngFor="let idea of advantage.ideas">
					<p>{{idea}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<h4>Want to know more about our program?</h4>
	<div class="contact-button-container small-8 medium-4 large-4">
		<button class="button success" (click)="toggleContactFormOverlay()">
			Let us contact you!
		</button>

		<button class="button"
			(click)="navigateToTopic(selectedTopic.urlName)">
			Read more about it!
		</button>
	</div>
	
	<div class="overlay-window"
		[@animateContactFormOverlay]="contactFormOverlayDisplayed">
		<app-contact-form class="row colum small-6"></app-contact-form>
	</div>

	<button class="hollow button warning"
		(click)="resetSelectedTopic()">
		Go back to top
	</button>
</div>

<!-- [ngClass]="contactFormOverlayDisplayed ? 'show' : 'hide'" -->