#selected-topic-container {
	margin: 1rem 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advantage-container {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 3%;
	max-height: 150px;
	
	img {
		max-height: 220px;
		padding: 6%;
		margin: 10px;
	}
}

.contact-button-container {
	margin: 2% 0;
	display: flex;
	justify-content: space-around;
}

.overlay-window {
  background-color: rgba(10, 10, 10, 0.7);
  z-index: 3;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  app-contact-form {
		background: white;
		height: 50vh;
		position: relative;
	}
}