#selected-topic-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advantage-container {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 3%;
	max-height: 150px;
	
	img {
		max-height: 220px;
		padding: 6%;
		margin: 20px; 
	}
}

.contact-button-container {
	margin: 2% 0;
	display: flex;
	justify-content: space-around;
}