$header-height: 5rem;
$header-blue: #385caf;

.header-container {
	height: $header-height;
	margin-bottom: 1rem;

	a {
		cursor: pointer;
		height: $header-height;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: TisaOT-Bold;
		color: $header-blue;
		font-weight: 900;

		.logo-container {
			height: $header-height;

			img {
				height: $header-height;
			}
		}

		p {
			margin: 1rem 0 0 2rem;
		}

		&.about-us-link {
			font-size: 1.4rem;
			transition: background-color 1s ease;

			&:hover {
				color: white;
				background: $header-blue;
			}	
		}
	}
}