<div class="row column selected-topic-content-container">
  <div class="small-12 row column second-career-intro-container">
  	<p>First, let’s see if you qualify for the Government “Second Career Program”<sup>*</sup></p>
  </div>
  
  <div class="small-12 column second-career-input-container">
    <form>
      <fieldset class="small-12 column">
        <legend>Check the statements that apply</legend>
        <div class="second-career-checkbox">
         <p for="question1">
          1. In the past 4 years, you have been laid off from a fulltime job in Ontario.</p>
          <div class="switch tiny">
            <input 
            id="question1" name="question1Switch" class="switch-input" type="checkbox"
            (change)="switchQualifyForProgramQuestion(1)" />
            <label class="switch-paddle" for="question1">
              <span class="show-for-sr">In the past 4 years, you have been laid off from a fulltime job in Ontario.</span>
            </label>
          </div>
        </div>

        <div class="second-career-checkbox">
          <p for="question2">
            2. Currently, you are either unemployed, working fewer than 20 hours per week or simply underemployed.
          </p>
          <div class="switch tiny">
            <input 
            id="question2" name="question2Switch" class="switch-input" type="checkbox"
            (change)="switchQualifyForProgramQuestion(2)" />
            <label class="switch-paddle" for="question2">
              <span class="show-for-sr">Currently, you are either unemployed, working fewer than 20 hours per week or simply underemployed.</span>
            </label>
          </div>
        </div>

        <div class="second-career-checkbox">
         <p for="question3">
          3. You are interested in training for a new career in Ontario.</p>
          <div class="switch tiny">
            <input 
            id="question3" name="question3Switch" class="switch-input" type="checkbox"
            (change)="switchQualifyForProgramQuestion(3)" />
            <label class="switch-paddle" for="question3">
              <span class="show-for-sr">You are interested in training for a new career in Ontario.</span>
            </label>
          </div>
        </div>
        <button class="button float-center" (click)="checkIfQualify()">
          See if you qualify!
        </button>
      </fieldset>
    </form>
  </div>

  <p class="second-career-explanation small-12 column">
    <sup>*</sup><span>This program allows you to study for free and receive up to CAD 28,000 in Government Support.</span>
  </p>

  <hr/>

  <div class="small-12 column second-career-result-container">
   <div *ngIf="(qualifyForProgram === 'yes')">
     <h3>Good news!</h3>
     <p>Based on your answers, it appears that you qualify to study one of the following diploma FOR FREE!</p>
     <select (change)="navigateToDiploma($event.target.value)" class="diploma-list small-8 float-center">
      <option></option>
      <option *ngFor="let diploma of diplomaContent" value="{{diploma.url}}"> 
        {{diploma.title}}</option>
      </select>
    </div>

    <div *ngIf="(qualifyForProgram === 'no')">
      <p>Unfortunately, it looks like you do not qualify for the “Second Career Program”!</p>
      <p><strong>But you might still be eligible for a scolarship up to 80%.</strong></p>
      <p for="scolarship-list">Select one scolarship that could apply to you the most</p>
      <select class="small-12 medium-8 float-center" [ngModel]="scolarshipSelected" (ngModelChange)="toggleCertificates($event)" id="scolarship-list">
        <option [value]=""></option>
        <option *ngFor="let scolarship of listOfScolarships" [value]="scolarship">{{scolarship}}</option>
      </select>
      <div *ngIf="showCertificates">
        <p>Here's a list of certificates you might be able to get a scolarship for:</p>
        <div class="row small-up-1 medium-up-2 large-up-4">
          <div class="certificate-list column" *ngFor="let certificateCategory of certificateContent">
            <label>{{certificateCategory.name}}</label>
            <select (change)="navigateToCertificate($event.target.value)">
              <option></option>
              <option *ngFor="let certificate of certificateCategory.certificates" value="{{certificate.url}}">
                {{certificate.name}}
              </option>
            </select>
          </div>
        </div>
        <p>Here's a list of diplomas you could also get a scolarship for:</p>
        <select (change)="navigateToDiploma($event.target.value)" class="diploma-list small-8 float-center">
          <option></option>
          <option *ngFor="let diploma of diplomaContent" value="{{diploma.url}}"> 
            {{diploma.title}}</option>
          </select>
        </div>
      </div>
    </div>
