@import "~_media-query-settings.scss";

.contact-form-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 4vh 0;
}

.close-button {
	height: 2rem;
	width: 2rem;

	@include breakpoint("small down") {
		height: 4rem;
	}

	span {
		font-size: 2rem;
	}
}