<div class="contact-form-container small-8 small-centered">
  <button *ngIf="isOverlay" class="close-button" aria-label="Close modal" type="button" (click)="closeOverlay()">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="row">For us to contact you, we would need you to fill out this form!</p>
  <!-- <form (ngSubmit)="sendEmail(inputData)" #contactForm="ngForm" class="row"> -->
  <form method="post" action="~/app/assets/scripts/contact-us.php" #contactForm="ngForm" class="row">
    <div class="contact-form-input-group" hidden>
      <input type="text" name="interest" [(ngModel)]="inputData.interest">
    </div>
    <div class="row">
      <div class="contact-form-input-group small-6 column">
        <label>First Name</label>
        <input type="text" name="firstName" [(ngModel)]="inputData.firstName" required>
      </div>
      <div class="contact-form-input-group small-6 column">
        <label>Last Name</label>
        <input type="text" name="lastName" [(ngModel)]="inputData.lastName" required>
      </div>
    </div>
    <div class="row">
      <div class="contact-form-input-group small-6 column">
        <label>Country</label>
        <input type="text" name="Country" [(ngModel)]="inputData.country" required>
      </div>
      <div class="contact-form-input-group small-6 column">
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" [(ngModel)]="inputData.phoneNumber" required>
      </div>
    </div>
    <div class="row">
      <div class="contact-form-input-group small-12 column">
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="inputData.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      </div>
    </div>
    <div class="row">
      <div class="contact-form-input-group small-12 column">
        <label>Message</label>
        <textarea rows="6" type="text" name="message" [(ngModel)]="inputData.message" placeholder="Your message here..." required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <button class="button" type="submit">Send</button>
      </div>
    </div>
  </form>
</div>