.contact-form-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 4vh 0;
}

.close-button {
	height: 2rem;
	widows: 2rem;
	span {
		font-size: 2rem;
	}
}