<div class="homepage-video-container row expanded">
	<video autoplay loop poster="assets/images/header-video-fallback.png">
	    <source src="assets/video/nab.mp4"  type="video/mp4" />
	    	<img src="assets/images/header-video-fallback.png" title="Toronto skyline with sunny landscape" /> 
	</video>
	<h1>Welcome to North American Business College</h1>
</div>

<div class="welcome-sentence-container row">
	<h2>What are your plans for the short term future?</h2>
</div>

<div class="topic-box-container expanded row">
	<div class="small-12 medium-6 large-3 columns" *ngFor="let topic of topics">
		<app-topic-box 
			[ngClass]="checkIfSelectedTopic(topic) ? 'topic-with-color' : 'topic-unselected'"
			[topic]="topic"
			[selectedTopic]="selectedTopic"
			(onSelectTopic)="selectTopic($event)">
		</app-topic-box>
	</div>
</div>


<app-selected-topic-display class="small-10 small-centered columns"
	[selectedTopic]="selectedTopic"
	[selectedTopicState]="selectedTopicState"
	(onResetSelectedTopic)="resetSelectedTopic($event)">
</app-selected-topic-display>
