.homepage-video-container {
	height: 25rem;
	display: flex;
	justify-content: center;
  align-items: center;
	overflow: hidden;
	position: relative;

	video {
		position: absolute;
		bottom: -75%;
		width: 100%;
	}

	h1 {
		color: white;
		z-index: 2;
		text-align: center;
	}
}

.topic-box-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	app-topic-box {
		z-index: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

		border: 1px solid #767676;
		overflow: hidden;
		margin: 2% 0%;
		height: 400px;

		// background image is being set within the html template
		background-size: cover;

		&.topic-unselected {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.4;
		}
	}
}