<h1>
  Welcome to NAB College<br/>
  What can we help you with?
</h1>
<div class="topic-box expanded row">
	<div class="small-3 columns" *ngFor="let topic of topics">
		<app-topic-box 
			[topic]="topic"
			(onSelectTopic)="selectTopic($event)">
		</app-topic-box>
	</div>
</div>
<app-selected-topic-display #f class="small-10 small-centered columns"
	[selectedTopic]="selectedTopic"
	(onResetSelectedTopic)="resetSelectedTopic($event)"
	[selectedTopicState]="selectedTopicState">
</app-selected-topic-display>
