<div class="row column certificate-detail-page-container">
	<div class="row certificate-detail-page-image-container">
		<img src="{{specificCertificate.imgUrl}}" alt="Image of {{specificCertificate.name}}"/>
		<h2>{{specificCertificate.category}}</h2>
	</div>
	<div class="small-12 certificate-detail-page-content-container column">
		<h2>
			{{specificCertificate.name}}
		</h2>
		<p>
			<span class="text-with-highlight-color">Description:</span>{{specificCertificate.description}}
		</p>
		<div *ngIf="specificCertificate.courses.length > 0">
			<span class="text-with-highlight-color">Courses:</span>
			<ul>
				<li *ngFor="let course of specificCertificate.courses">{{course}}</li>
			</ul>
		</div>
		<div class="row icon-label-group-container">
			<div class="small-6 column icon-label-group">
				<img src="assets/images/svg/clock.svg" />
				<span>Duration:</span>
				<span>{{specificCertificate.duration}} Hours</span>
			</div>
			<div class="small-6 column icon-label-group">
				<img src="assets/images/svg/diploma.svg" />
				<span>Certifcation:</span>
				<span>{{specificCertificate.certification ? "Yes" : "No"}}</span>
			</div>
		</div>
	</div>
	<div class="button-group column">
		<app-contact-overlay [interestToPass]="specificCertificate.name" [needGoBackButton]="true"></app-contact-overlay>
	</div>
</div>

