@import "~_media-query-settings.scss";

#selected-topic-container {
	text-align: center;
	position: relative;

	h2 {
		margin: 2rem 0;
	}

	.language-switch {
		position: absolute;
		top: 1rem;
		right: 0rem;
	}
}

.detail-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	@include breakpoint("medium down") {
		flex-direction: column;
	}
	
	.detail-image-container {
		img {
			width: 30rem;
			max-height: 20rem;
			overflow: hidden;
		}

		@include breakpoint("medium only") {
			margin-bottom: 1rem;
		}
	}

	.detail-content-container {
		overflow: hidden;
		padding: 0 1rem;

		.advantage-container {
			width: auto;
			display: flex;
			align-items: flex-start;
			margin: 1rem 1rem 0;
			max-height: 150px;

			@include breakpoint("large down") {
				max-height: 200px;
			}

			@include breakpoint("small down") {
				margin: 1rem 0 0;
			}

			.advantage-icon {
				height: 4rem;
			}

			.advantage-content {
				text-align: justify;
				padding: 0 1rem;

				@include breakpoint("large up") {
					p {
						margin-bottom: 0;
					}
				}
			}

			@include breakpoint("large down") {
				.advantage-icon {
					height: 3rem;
				}

				.advantage-content {
					h3 {
						word-break: break-all;
						font-size: 1.5rem;
					}

					p {
						font-size: .9rem;
					}

					@include breakpoint("small down") {
						h3 {
							word-break: initial;
							text-align: left;
					    font-size: 1rem;
					    font-weight: 900;
						}

						p {
							font-size: .8rem;
						}
					}
				}
			}
		}
	}
}