<div *ngIf="selectedTopic"
	class="row small-12 column" id="selected-topic-container"
	[@animateSelectedTopic]="selectedTopicState">
	<div class="selected-topic-name-container small-12">
		<h2>{{selectedTopic.name}}</h2>
	</div>

	<div class="row columns detail-container"> 
		<div class="detail-image-container hide-for-small medium-12 large-5 column">
			<img src={{selectedTopic.imgUrl}} />
		</div>
		
		<div class="detail-content-container small-12 medium-10 large-7 column">
			<div class="advantage-container" *ngFor="let advantage of selectedTopic.content.advantages">
				<img class="advantage-icon" src={{advantage.icon}}/>
				<div class="advantage-content">
					<h3>{{advantage.title}}</h3>
					<div *ngFor="let idea of advantage.ideas">
						<p>{{idea}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	
	<div [ngSwitch]="selectedTopic.urlName">
		<app-change-career-content *ngSwitchCase="'change-career'"></app-change-career-content>
		<app-english-as-second-language *ngSwitchCase="'english-as-second-language'"></app-english-as-second-language>
		<app-travel-study-canada *ngSwitchCase="'travel-study-canada'"></app-travel-study-canada>
		<app-employee-training *ngSwitchCase="'employee-training'"></app-employee-training>
	</div>

	<button class="reset-button hollow button warning"
		(click)="resetSelectedTopic()">
		Go back to top
	</button>

</div>