/* You can add global styles to this file, and also import other style files */

@import './assets/vendor/normalize/normalize.css';
$font-stack: 'Lato', sans-serif;

* {
	box-sizing: border-box;
	font-family: $font-stack;
}